.country-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: bisque;
}
.non-visited{
    background-color: gainsboro;
}

.flags-container img {
    width: 100px;
}